<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="bdo_navigation"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <a class="navbar-brand" href="#"><strong>Banco del Oro</strong></a>
      <ul class="navbar-nav ml-auto">


        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/geoProfile">Create Branch</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/branches">Branches</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/leafletLocations">Branch Map</a>
          </li>

        <li class="nav-item">
            <a class="nav-link" href="/branch-map">Locations Map</a>
          </li>




      </ul>
    </div>
  </nav>
</div>