<% include partials/_header %>
<% include partials/_nav %>

<div class="container">

  <p><h1>Welcome to <%= title %></h1></p>
  <p><h2><%= strapline  %></h2></p>
  
  <div>

    <a class="btn btn-dark" href="/geoProfile">Register</a>

  </div>
</div>

<% include partials/_footer %>