<% include partials/_header %>
<% include partials/_nav %>

<link rel="stylesheet" href="/stylesheets/leaflet.css" />
<script src="/javascripts/leaflet.js"></script>

    <div class="container">
        <style>
            #branches {
              position: center-align;
              height: 700px;
            }
          </style>
        <br>
        <div id="branches"></div>

        <script>
            var branchmap = L.map('branches').setView([39.7507834, -104.9986242], 12);

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                //    retina: '@2x',
                //   detectRetina: true,
            }).addTo(branchmap);

            let locations = [{
                    "lat": 39.7405435,
                    "lng": -105.133726
                },
                {
                    "lat": 39.7584372,
                    "lng": -105.0098537
                },
                {
                    "lat": 39.7621519,
                    "lng": -105.0470756
                },
                {
                    "lat": 39.7281438,
                    "lng": -104.98274
                },
                {   "lat": -105.0813734,
                    "lng": 39.6902405
                }

            ];

            locations.forEach(function (location) {
                (i = 0, i <= locations.length, i++)
                L.marker([location.lat, location.lng]).addTo(branchmap);
            });

            L.marker([39.7507834, -104.9986242]).addTo(branchmap)
                .bindPopup('This is Denver.')
                .openPopup();


            var circle = L.circle([39.7507834, -104.9986242], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 100
            }).addTo(branchmap);
        </script>
</div>
</div>
</body>

</html>