<% include partials/_header %>
<% include partials/_nav %>
<% include partials/_css-js.ejs %>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  $(document).ready(function () {
    $('#usertable').DataTable({
      "scrollY": "600px",
      "scrollX": true,
      "scrollCollapse": true,
      "ajax": {
        "url": "/locations",
        "dataSrc": ""
      },
      columns: [
        { data: "branchNumber" },
        { data: "city" },
        { data: "location._id"},
        { data: "location.type" },
        { data: "location.coordinates.0" },
        { data: "location.coordinates.1" }
      ]
    });
    $('.dataTables_length').addClass('bs-select');
  });
</script>

<div class="container">
  <br>
  <div class="table-responsive">
    <table id="usertable" class="table table-striped table-bordered table-hover text-nowrap" style="width:100%">
      <thead>
        <tr>
          <th>Location Number</th>
          <th>City</th>
          <th>_id</th>
          <th>type</th>
          <th>Lng</th>
          <th>Lat</th>
        </tr>
      </thead>
    </table>
  </div>
  </div>
</body>

</html>