<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Leaflet Locate</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />

<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />

<div id="map"></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYmxhY2tiaXJkbmF2IiwiYSI6ImNqOWdpMmtneDJ4eGkyd21xZGo1bWRkamMifQ.r1hV7WPZVhcDflklSSzzzA';
    var mymap = L.mapbox.map('map')
      .setView([39.7507834, -104.9986242], 10)
      .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

    L.control.locate().addTo(mymap);
</script>
</body>
</html>

<!-- MAPBOX  SYNTAX!!!! This ^ now works-->